<!DOCTYPE html>
<html layout:decorator="shared/mainlayout"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Section list</title>
</head>
<body>
	<th:block layout:fragment="content">
		<legend>Users</legend>
		<div class="mb-1" >&nbsp;</div>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th class="text-center">Section id</th>
					<th class="text-center">Block</th>
				
				</tr>
			</thead>
			<tbody>
						<tr th:if="${#lists.size(sections) == 0}">
					<td colspan="9">No Section</td>
				</tr>
				<tr th:each="section : ${sections}">
					<td th:text="${section.id}" class="text-center"></td>
					<td th:text="${section.block}" class="text-center"></td>
				<!--  	<td class="text-center">
						<a role="button" class="btn btn-primary"
							th:href="${user.username == username ? '/adminprofile' : '/user/' + user.id }"
							><span class="fa fa-pencil" aria-hidden="true"></span></a>
						&nbsp;
						<a th:if="${user.username != username }" role="button" class="btn btn-primary"
							th:href="@{/user/delete/{id}(id=${user.id})}">
							<span class="fa fa-trash-o" aria-hidden="true"></span></a>
					</td>
					-->
				</tr>
			</tbody>
			</table>
			</th:block>
</body>
</html>